body
{
	width: 700px;
	margin: auto;
	font-family: "trebuchet ms","Arial", sans-serif;
}

.bloc
{	
	
	border: 2px black solid;
	display: flex;
	flex-direction: row-reverse;
}

h1
{
	color: black;
}

section
{
	text-align: justify;
	font-size: 0.7em;
	color: rgb(74,74,74);
}

/*-- Titre --*/

.prenom
{
	color: rgb(254,202,8);
}

.develo /*-- souligner une partie du texte "Développeur"--*/
{
	border-bottom: 2px rgb(254,202,8) solid;
}

.titre h1
{
	font-weight: normal;
}

/*-- Corps --*/

main
{
	flex: 2.8;
	padding-left: 30px;
	padding-right: 20px;

}

main section h2
{
	border-bottom: 2px rgb(254,202,8) solid;
	height: 1.5em;
}

main article
{
	display: flex;
}

.date
{
	flex: 1;
	margin-right: 10px;
}

.ville
{
	padding-left: 12px;
}

.element
{
	flex: 2.5;
}

.recommandation article
{
	display: flex;
	justify-content: space-between;
}

.reco2
{
	padding-right: 70px;
}

h2 i
{
	color: rgb(254,202,8);
}

.fa-dot-circle, .fa-circle
{
	color: rgb(254,202,8);
	font-size: 0.8em;
}



/*-- Bandeau--*/

.bandeau
{
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: rgb(254,202,8);

}

.bandeau .picture
{
	text-align: center;
}

.photo_ahmed
{
	border: 2px black solid;
	border-radius: 100px;
	height: 120px;
	width: 120px;
}

.bandeau h3
{
	text-align: center;
	background-color: rgb(64,64,64);
	color: rgb(254,202,8);
	line-height: 2em;
}

.bandeau p
{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

.loisirs i
{
	font-size: 2em;
}

.loisirs p
{
	display: flex;
	justify-content: space-between;

}

.apropos /*-- jouer sur l'espace d'occupation --*/
{
	flex-grow: 2;

}

/*-- responsive --*/
@media all and (max-width: 768px)
{
	body
	{
		width: auto; /*-- ne pas fixer la largeur sur la resolution à 768px --*/
	}
	 
}

@media all and (max-width: 415px) and (orientation: portrait)
{
	.bloc
	{
		width: auto;
		flex-direction: column-reverse;/*-- affichage responsive en colonne --*/
	}

	.reco2
	{
		padding-right: 5px;
	}

	main
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	main article
	{
	display: flex;
	flex-direction: column;
	}

	h2
	{
		text-align: center;
	}

	.titre
	{
		text-align: center;
	}

	.element
	{
		text-align: center;
	}

	.recommandation
	{
		text-align: center;
	}
}